name: CI - Go Text to Speech

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Install OS dependencies
        run: |
          sudo apt update
          sudo apt install -y espeak

      - name: Run tests
        run: go test ./...

      - name: Build Docker image
        run: docker build -t text-to-speech .
