name: CI - Go Text to Speech

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.8
          install-mode: source

      - name: Install coverage dependencies
        run: sudo apt install -y bc

      - name: Install OS dependencies
        run: |
          sudo apt update
          sudo apt install -y espeak

      - name: Run tests with coverage
        run: |
          go test -coverprofile=coverage.out ./...
          COVERAGE=$(go tool cover -func=coverage.out | grep total | awk '{print substr($3, 1, length($3)-1)}')
          echo "Total coverage: $COVERAGE%"
          if (( $(echo "$COVERAGE < 60" | bc -l) )); then
          echo "Coverage below threshold"
          exit 1
          fi

      - name: Build Docker image
        run: docker build -t text-to-speech .
